# Firebase Admin (Vercel > Project > Settings > Environment Variables)
FIREBASE_PROJECT_ID=pro--povo
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@pro--povo.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"
FIREBASE_DATABASE_URL=https://pro--povo-default-rtdb.firebaseio.com

# Cloudinary
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=seu_api_secret
CLOUDINARY_UPLOAD_PRESET=pro_povo_imagens
